@model ConnectionInfo;

<link rel="stylesheet" href="~/css/gmTokens.css"/>

<div id="mainTokenScreen" class="mainTokenScreen">
    <!--Area for displaying existing tokens-->
    <div id="tokensDisplayArea">
        @foreach (var item in Model.TokensList)
        {
            <div class="tokenTemplate">
                <div id="@item.Id" class="tokenTemplateHitbox" onclick="ChooseTemplate(this)" draggable="false">
                    <img src="@Url.Content(item.Image)" />
                    <p>@Html.DisplayFor(name => item.Name)</p>
                </div>
            </div>
        }
    </div>
    <!--Area for buttons-->
    <div id="buttonsDisplayArea" class="row">
        <!--create new-->
        <div class="col-6" style="text-align:center; display:flex; flex-direction:column">
            <p>Create new template</p>
            <div class="tokenButtonsSection">
                <div class="row">
                    <div class="col-5">
                        <p>Token's name:</p>
                    </div>
                    <div class="col-3">
                        <input id="tokenTemplateInput" type="text" style="width:140%;" />
                    </div>
                    <div class="col-4">
                        <button onclick="document.getElementById('browseImageInput').click()" style="font-size:10px; height:80%">Browse image</button>
                    </div>
                </div>
                <button id="createTemplateBtn">Create</button>
            </div>
        </div>
        <!--add to map-->
        <div class="col-6" style="text-align:center; display:flex; flex-direction:column;">
            <p>Add/Delete template</p>
            <div style="height:0px;"></div>
            <div class="tokenButtonsSection">
                <div class="row">
                    <div class="col-3">
                        <p style="font-size: 12px;">Chosen template:</p>
                    </div>
                    <div class="col-4">
                        <input id="chosenTemplateDisplay" type="text" disabled style="width: 100%" />
                    </div>
                    <div class="col-1">
                        <p style="margin-left:-15px">As:</p>
                    </div>
                    <div class="col-3">
                        <select id="tokenAlignmentSelect">
                            <option style="color:lightgray;">Neutral</option>
                            <option style="color:blue;">Player</option>
                            <option style="color:green;">Ally</option>
                            <option style="color:red;">Enemy</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <button id="removeTokenBtn" style="font-size:12px; height:100%" onclick="DeleteChosenTemplate()">Remove template</button>
                    </div>
                    <div class="col-4">
                        <button id="addTokenBtn" style="font-size:12px; height:100%">Add to game</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form enctype="multipart/form-data" method="post" asp-controller="Tokens" asp-action="Index" target="tokenListIframe" hidden>
        <input id="getTokenListSubmit" type="submit" />
    </form>

    <form enctype="multipart/form-data" method="post" asp-controller="Tokens" asp-action="Create" target="tokenListIframe" hidden>
        <input id="tokenTemplateFormInput" type="text" asp-for="Token.Name" style="width:140%;" />
        <input id="browseImageInput" type="file" asp-for="FormFileMap" accept="image/*" />
        <input id="createSubmit" type="submit" />
    </form>

    <form enctype="multipart/form-data" method="get" asp-controller="Tokens" asp-action="Delete" target="tokenListIframe" hidden>
        <input id="deleteTemplateIdInput" type="number" name="id" />
        <input id="deleteTemplateSubmit" type="submit" />
    </form>

    <iframe id="tokenListIframe" name="tokenListIframe" style="display: none;">

    </iframe>
</div>

<script src="~/js/gmScripts/tokenControls.js"></script>
<script>
    document.getElementById('createTemplateBtn').addEventListener('click', function () {
        document.getElementById('tokenTemplateFormInput').value = document.getElementById('tokenTemplateInput').value;
        document.getElementById('createSubmit').click();
    });
</script>>