.mainScreenDiv {
    width: 1000px;
    height: 600px;
    display: block;
    position: absolute;
}

.mapDiv {
    height: inherit;
    width: inherit;
    position:inherit;
    background-color: mediumpurple;
    z-index: 0;
    overflow:scroll;
}

.token {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: black;
    z-index: 2;
}

.map {
    position: inherit;
    z-index: 1;
}

.tokenImage {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.fog {
    display: block;
    position: inherit;
    pointer-events: none;
    /*Don't set fog's size in CSS, because it's scaling off bitmap, and thus making
      drawing fog annoying to calculate; setting size in html makes it a lot easier*/
    z-index: 3;
}

.grid {
    display: block;
    position: inherit;
    pointer-events: none;
    z-index: 4;
}

#playersBoard {
    display: block;
    height: 600px;
    width: 200px;
    background-color: brown;
    position: fixed;
    margin-left: -250px;
    background-color: burlywood;
    border: 2px solid saddlebrown;
    text-align: center;
}

.section {
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
    justify-content: space-around;
    height: auto;
    width: 90%;
    margin-left: 5%;
}

.scrollablePlayerSection {
    background-color: goldenrod;
    margin-top: -15px;
    width: 90%;
    margin-left: 5%;
    overflow-y: scroll;
    overflow-x: scroll;
}
